@import "./variables";
@import "./mixins";

header {
    div a {
        .menu {

            @extend header;

            font-family: 'Poppins', sans-serif;

        }
    }

    width: $todo;

    height: $diecisiete;

    border-bottom: solid 3px purple;

    font-style: normal;

    font-weight: 300;

    font-size: 36px;
    
}

footer {
    width: $todo;

    height: 200px;

    border-top: solid 3px purple;

    .derechosReservados {
        @include parrafo(inline-block);
        color: map-get($map: $estilos, $key: blanco);
        background: map-get($map: $estilos, $key: fondo);
        font-size: map-get($map: $tamaño, $key: '28');
        font-family: map-get($map: $fonts, $key: roboto), map-get($map: $fonts, $key: sans);
    }

    .parrafo {

        display: flex;

        justify-content: center;

        margin-top: 20px;

    }

    .redes {
        @include redes;
    }
}

.logo{
    width: 150px;
    height: 140px;
}
