@import "./variables";
@import "./mixins";

body {
    padding: 0;

    margin: 0;

    box-sizing: border-box;

    background-image: url(../images/FondoBlanco.jpg);

    background-repeat: no-repeat;

    background-size: cover;


}

main {

    .sub {
        @extend main, .p_1;
        font-weight: 500;
        font-size: map-get($map: $tamaño, $key: '36');
        font-family: map-get($map: $fonts, $key: poppins), map-get($map: $fonts, $key: sans);
        display: flex;

    }

    .p_1 {
        @include parrafo(flex);
        font-size: map-get($map: $tamaño, $key: '28');
        font-family: map-get($map: $fonts, $key: roboto), map-get($map: $fonts, $key: sans);
        text-align: map-get($map: $estilos, $key: centro);
        color: map-get($map: $estilos, $key: blanco);
        background: map-get($map: $estilos, $key: fondo);
    }

    video {
        display: flex;
        width: 500px;
        height: 500px;

    }
}

.centro {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

@media (max-width:768px) {
    .centro {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    main {


        video {
            width: 350px;
            height: 350px;
            margin-bottom: 10px;
        }
    }
}