@import "./variables";
@import "./mixins";

body {


    background-image: url(../images/FondoIndex.jpeg);

    background-repeat: no-repeat;

    background-size: cover;


}

main {
    .sub {
        @extend main, .p_1;
        font-weight: 300;
        font-size: map-get($map: $tamaño, $key: '36');
        font-family: map-get($map: $fonts, $key: poppins), map-get($map: $fonts, $key: sans);
        display: inline-block;
        padding-left: 5%;

    }

    .p_1 {
        @include parrafo(flex);
        font-size: map-get($map: $tamaño, $key: '28');
        font-family: map-get($map: $fonts, $key: roboto), map-get($map: $fonts, $key: sans);
        text-align: map-get($map: $estilos, $key: centro);
        color: map-get($map: $estilos, $key: blanco);
        background: map-get($map: $estilos, $key: fondo);
    }

    video {
        display: flex;
        width: 500px;
        height: 500px;

    }
}