.nosotrosSection {
    display: flex;
    flex-direction: column;
  }

.texto {
    text-align: center;
    color: white;
    background: rgba(255, 0, 255, 0.377);
    display: flex;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    word-spacing: 3px;
    margin-top: 5%; 
  }
  .logoCentrado {

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logoNosotros {
    width: 700px;
    height: 700px;
    display: flex;
  }
  