$estilos: (
    blanco: rgb(255, 255, 255),
    fondo: rgba(255, 0, 255, 0.377),
    centro: center 
);

$tamaño: (
    '28' : 28px,
    '36' : 36px    
);

$fonts: (
    roboto: 'Roboto',
    poppins: 'Poppins',
    sans: sans-serif
);

$todo: 100%;
$diecisiete: 17vh;
